.forgotPasswordContainer {
  padding: 20px;
  width: 100vw;
}

.forgotPassword {
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 15%;
  /* margin-left: 15%; */
  font-family: "Poppins", sans-serif;
}

.forgotPassword h3 {
  font-size: 2rem;
  font-weight: 500;
  padding: 10px 0px;
}

.forgotPassword p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5%;
  font-weight: lighter;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 75%;
}

.form label {
  font-size: 1.2rem;
  margin-bottom: 1%;
}

.form input {
  padding: 12px;
  width: 100%;
  border: 1px solid rgb(92, 83, 83);
  border-radius: 4px;
}

.form input:focus {
  outline: none;
}

.form .error {
  color: red;
  font-size: 1rem;
}

.form .link {
  font-size: 0.9rem;
  text-decoration: underline;
  color: #037743;
  margin-left: 70%;
  padding: 10px;
  margin-bottom: 0;
  cursor: pointer;
}

.form .submit {
  margin-top: 5%;
  padding: 12px;
  width: 100%;
  border: 0;
  background-color: #037743;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
}

.forgotPassword .foot {
  margin-top: 5%;
  font-size: 1rem;
  margin-left: 10%;
}

.forgotPassword .foot span {
  color: #037743;
  cursor: pointer;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  .forgotPassword {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .forgotPassword {
    width: 80%;
  }

  .form {
    width: 80%;
  }

  .form .link {
    font-size: 0.8rem;
    margin-left: 60%;
  }
}

@media screen and (max-width: 425px) {
  .forgotPassword {
    width: 80%;
  }

  .forgotPassword h3 {
    font-size: 1.5rem;
  }

  .forgotPassword p {
    font-size: 0.8rem;
  }

  .form {
    width: 100%;
  }

  .form label {
    font-size: 0.8rem;
  }

  .form input {
    padding: 10px;
  }

  .form .link {
    margin-left: 55%;
  }

  .form .error {
    font-size: 0.8rem;
  }

  .form .submit {
    padding: 10px;
    font-size: 0.8rem;
  }

  .forgotPassword .foot {
    font-size: 0.8rem;
  }
}
