main {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    padding-inline: 2vw;
    padding-block: 4.6vh;
}
main > p {
    font-family: 'Poppins';
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 1.875rem;
    line-height: 2rem;
    color: #037743;
}
main .password-confirm {
    height: 50%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-end;
    row-gap: 5vh;
}
main .password-confirm img {
    display: block;
    width: 16vmin;
    min-width: 100px;
}
main .password-confirm p {
    display: block;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;   
    font-size: clamp(30px, calc(2rem + 2vw), 20px);
    text-align: center;
    color: #262626;
}