.accountOverview {
  display: inline-block;
  width: 100vw;
  height: 90vh;

  white-space: nowrap;
}

.sideNav {
  height: 1648px;
  position: absolute;
  left: 330px;
  width: 600px;
  margin-left: 80px;
  border-left: 1px solid #808080;
}

.navtxt1 {
  position: absolute;
  width: 205px;
  height: 24px;
  left: 60px;
  top: 250px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;

  color: #037743;
}

.house {
  position: absolute;
  left: 0px;
  right: 7.5%;
  top: 50;
  bottom: 2.78%;
  width: 13%;
}

.navtxt2 {
  position: absolute;
  width: 172px;
  height: 24px;
  left: 60px;
  top: 320px;

  font-family: "PoppinsLight";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 24px;

  color: #262626;
  white-space: nowrap;
}
.pen {
  position: absolute;
  left: 0px;
  right: 7.5%;
  top: 50;
  bottom: 2.78%;
  width: 13%;
}
.navtxt3 {
  position: absolute;
  width: 172px;
  height: 24px;
  left: 60px;
  top: 390px;
  white-space: nowrap;

  font-family: "PoppinsLight";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 24px;

  color: #262626;
}
.lock {
  position: absolute;
  left: 0px;
  right: 7.5%;
  top: 50;
  bottom: 2.78%;
  width: 13%;
}

.accountDetails {
  display: inline-block;
}

.userinfo {
  margin-top: 80px;
  margin-left: 700px;

  white-space: nowrap;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #000000;
}
.useri {
  width: 180px;
  height: 180px;
  margin-top: 69px;
  margin-left: 750px;

  border-radius: 100%;

  background: #d9d9d9;
}
.txt1 {
  margin-top: 30px;
  margin-left: 700px;

  white-space: nowrap;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 1px;

  letter-spacing: 0.01em;

  color: #262626;
}
.txt2 {
  margin-top: 100px;
  margin-left: 550px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.uaddress {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "PoppinsLight";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.txt3 {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.unumber {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "PoppinsLight";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  white-space: nowrap;

  letter-spacing: 0.01em;

  color: #262626;
}
.txt4 {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.ugender {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "PoppinsLight";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.txt5 {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.udob {
  margin-top: 30px;
  margin-left: 550px;

  font-family: "PoppinsLight";
  font-style: normal;
  font-weight: 275;
  font-size: 32px;
  line-height: 48px;

  letter-spacing: 0.01em;

  color: #262626;
}
.editButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 29px;
  gap: 10px;

  width: 161px;
  height: 50px;

  margin-top: 120px;
  margin-left: 550px;

  background: #037743;
  border-radius: 3px;
}
.edit {
  width: 103px;
  height: 24px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  white-space: nowrap;
  line-height: 24px;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer {
  margin-top: 360px;
}
@media screen and (max-width: 1200px) {
  .sideNav {
    left: 200px;
    height: 1589px;
  }
  .navtxt1 {
    font-size: 20px;
    left: 20px;
  }
  .navtxt2 {
    font-size: 20px;
    left: 20px;
  }
  .navtxt3 {
    font-size: 20px;
    left: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .userinfo {
    font-size: 25px;
    margin-left: 400px;
  }
  .useri {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-left: 450px;
  }
  .txt1 {
    font-size: 14px;
    margin-left: 400px;
  }
  .txt2 {
    font-size: 14px;
    margin-left: 350px;
  }
  .uaddress {
    font-size: 15px;
    margin-left: 350px;
  }

  .txt3 {
    font-size: 14px;
    margin-left: 350px;
  }
  .unumber {
    font-size: 15px;
    margin-left: 350px;
  }
  .txt4 {
    font-size: 14px;
    margin-left: 350px;
  }
  .ugender {
    font-size: 15px;
    margin-left: 350px;
  }

  .txt5 {
    font-size: 14px;
    margin-left: 350px;
  }
  .udob {
    font-size: 15px;
    margin-left: 350px;
  }
  .editButton {
    margin-left: 350px;
  }
}
