@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.popular_trips{
    padding: 20px 30px;
    background-color: #DDF9EC;
    font-family: 'Poppins', sans-serif;
}

.popular_trips h3{
    font-size: 1.7rem;
    font-weight: 700;
}

.popular_trips p{
    font-size: .8rem;
    margin-bottom: 20px;
}

